.bg-primary,
.btn-primary {
  background-color: #e05433 !important;
}

.text-primary {
  color: #e05433 !important;
}

.mt-6 {
  margin-top: 6rem !important;
}
.my-6 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}
